In [1]:
import json
from getpass import getpass

%matplotlib notebook

import pylab as pl
import matplotlib as mpl
import pandas as pd
import numpy as np
from hapi import *
db_begin('data')
import requests

HAPI version: 1.2.2.0
To get the most up-to-date version please check http://hitran.org/hapi
ATTENTION: Python versions of partition sums from TIPS-2021 are now available in HAPI code

           MIT license: Copyright 2021 HITRAN team, see more at http://hitran.org.

           If you use HAPI in your research or software development,
           please cite it using the following reference:
           R.V. Kochanov, I.E. Gordon, L.S. Rothman, P. Wcislo, C. Hill, J.S. Wilzewski,
           HITRAN Application Programming Interface (HAPI): A comprehensive approach
           to working with spectroscopic data, J. Quant. Spectrosc. Radiat. Transfer 177, 15-30 (2016)
           DOI: 10.1016/j.jqsrt.2016.03.005

           ATTENTION: This is the core version of the HITRAN Application Programming Interface.
                      For more efficient implementation of the absorption coefficient routine,
                      as well as for new profiles, parameters and other functional,
                      please consider using HAPI2 extension library.
                      HAPI2 package is available at http://github.com/hitranonline/hapi2

Using data

01
                     Lines parsed: 103
C2H2
                     Lines parsed: 46500
CH3BR
                     Lines parsed: 18692
CH3CL
                     Lines parsed: 4628
CH3CN
                     Lines parsed: 11353
CH3F
                     Lines parsed: 1499
CH3I
                     Lines parsed: 178247
CH3OH
                     Lines parsed: 2006
H2CO
                     Lines parsed: 3534
H2O
                     Lines parsed: 2445
H2S
                     Lines parsed: 2714
HCN
                     Lines parsed: 3098
HCOOH
                     Lines parsed: 5672
HF
                     Lines parsed: 94
NH3
                     Lines parsed: 6294
O3
                     Lines parsed: 22000
PH3
                     Lines parsed: 1551
SO2
                     Lines parsed: 91093

In [2]:
from hapi2 import *

HAPI2 version:  0.1
Updated SETTINGS_DEFAULT by local config file (c:\Users\user\YandexDisk\THz-TDS\code\Новая папка\config.json).

Database name: local
Database engine: sqlite
Database path: ./
Web API TODO: include fetch_info() into init
jeanny, Ver.3.0

In [11]:
#pip install requests

Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [3]:
SETTINGS['api_key'] = getpass('Enter valid API key:')
fetch_info()

Header for info is fetched from https://hitran.org

BEGIN DOWNLOAD: info
  1048576 bytes written to ~tmp\6329f9d7-3a3c-4a48-8994-6686938712af.json
END DOWNLOAD
PROCESSED

{'status': 'OK',
 'message': '',
 'content': {'class': 'Info',
  'format': 'json',
  'data': {'static_root': 'data',
   'xsec_dir': 'data/xsec',
   'results_dir': 'results',
   'hapi_latest_version': None}},
 'timestamp': '2023-11-30 09:52:46.134206',
 'source': 'HITRANonline'}

In [4]:
mols = fetch_molecules()

Header for molecules is fetched from https://hitran.org

BEGIN DOWNLOAD: molecules
  1048576 bytes written to ~tmp\6d4c8c6d-d3cb-4bfb-8bfe-7c979e3d62c9.json
END DOWNLOAD
PROCESSED

In [5]:
mol_needed = pd.read_csv('Без имени 1.csv', header=None)

In [6]:
mol_needed

            0
0       CD3OH
1       CH3OH
2      CD2CL2
3      CH2DOH
4       CH3CN
5       CH3CL
6       CH2F2
7      CH2CF2
8      C2H4F2
9       C2H5F
10      HCOOD
11  C[13]H3OH
12      C2H6O
13       CD3I
14      HCOOH
15     C3H6O3
16       CH3I
17       CH3F
18  HC[13]OOH
19     C2H3CL
20     C2H3BR
21      CD3CL
22      CD3OD
23      CH3BR
24     C2H3CN
25     CH3CCH
26      DCOOD
27       HCCF
28     CHD2OH
29      CH3OD
30     C2H6O2
31        D2O
32     C2H3F3
33    N[15]H3
34        HCN
35        H2O
36     CH3NH2
37      C3H2O
38        NH3
39      CH3NC
40        FCN
41       D2CO
42        H2S
43        PH3
44         HE
45       CLO2
46        SO2
47        DCN
48       HDCO
49       H2CO
50    HCN[15]
51         O3
52         NE
53         RB
54         HF

In [7]:
moleculas = []
ids = []
for i in range(55):
    temp=Molecule(mol_needed[0][i]).dump()
    if temp['id'] == None:
        print(mol_needed[0][i])
    else:
        moleculas.append(mol_needed[0][i])
        ids.append(temp['id'])

CD3OH
CD2CL2
CH2DOH
CH2CF2
C2H4F2
C2H5F
HCOOD
C[13]H3OH
CD3I
C3H6O3
HC[13]OOH
C2H3BR
CD3CL
CD3OD
C2H3CN
CH3CCH
DCOOD
HCCF
CHD2OH
CH3OD
C2H6O2
D2O
C2H3F3
N[15]H3
CH3NH2
C3H2O
CH3NC
FCN
D2CO
HE
DCN
HDCO
HCN[15]
NE
RB

In [19]:
'''moleculas = np.array(moleculas).T
ids = np.array(ids).T
wave = np.array(wave).T'''

In [9]:
moleculas = pd.DataFrame(moleculas)
ids = pd.DataFrame(ids)

In [10]:
df = moleculas.join(ids, lsuffix='1', rsuffix='2')

In [22]:
df

        01   02
0    CH3OH   39
1    CH3CN   41
2    CH3CL   24
3    CH2F2  120
4    C2H6O  207
5    HCOOH   32
6     CH3I   54
7     CH3F   51
8   C2H3CL  338
9    CH3BR   40
10     HCN   23
11     H2O    1
12     NH3   11
13     H2S   31
14     PH3   28
15    CLO2  133
16     SO2    9
17    H2CO   20
18      O3    3
19      HF   14

In [11]:
df.to_csv('df3.csv', index=False)

In [14]:
df2 = pd.read_csv('df3.csv', header = None)

In [12]:
df_all = pd.read_csv('origin_table2.csv', delimiter=';', header = None)

In [15]:
df2

         0    1
0       01    2
1    CH3OH   39
2    CH3CN   41
3    CH3CL   24
4    CH2F2  120
5    C2H6O  207
6    HCOOH   32
7     CH3I   54
8     CH3F   51
9   C2H3CL  338
10   CH3BR   40
11     HCN   23
12     H2O    1
13     NH3   11
14     H2S   31
15     PH3   28
16    CLO2  133
17     SO2    9
18    H2CO   20
19      O3    3
20      HF   14

In [16]:
df_all[4]

0      Column6
1        CD3OH
2        CH3OH
3        CH3OH
4        CH3OH
        ...
972        H2O
973         HF
974      CH3OH
975      CD3OH
976        D2O
Name: 4, Length: 977, dtype: object

In [21]:
df2[0][20]

'HF'

In [13]:
df_all

           0         1         2        3        4        5
0    Column2   Column3   Column4  Column5  Column6  Column7
1     0,6356   21,1864  472,0000       12    CD3OH    0,023
2     0,6369   21,2314  471,0000       10    CH3OH    0,022
3     0,6383   21,2766  470,0000       10    CH3OH    0,021
4     0,6396   21,3209  469,0233       10    CH3OH    0,021
..       ...       ...       ...      ...      ...      ...
972   7,0572  235,2388   42,5100        1      H2O    0,241
973   7,0755  235,8491   42,4000       35       HF    0,234
974   7,1124  237,0792   42,1800       10    CH3OH    0,207
975   7,1770  239,2344   41,8000       12    CD3OH    0,189
976   7,1788  239,2917   41,7900        2      D2O    0,189

[977 rows x 6 columns]

In [101]:
dff=pd.read_csv('dfff31.csv', delimiter=';',header=None)

In [102]:
def coef_spectra(compn, iso, comp, wav1, wav2):
    nu,coef = absorptionCoefficient_Voigt(((compn,iso),),comp,OmegaRange=(wav1, wav2),OmegaStep=0.0000000001, HITRAN_units=False, Environment={'p':1,'T':294.2})
    return coef

In [103]:
dff

           0        1        2
0    Column1  Column2  Column3
1      CH3CN   22.668       41
2      CH3CN  19.6017       41
3      CH3CN  20.2126       41
4      CH3CN  20.8329       41
..       ...      ...      ...
155      SO2  66.1901        9
156      SO2  66.6933        9
157      SO2  70.4225        9
158      SO2  70.8918        9
159      SO2  71.1136        9

[160 rows x 3 columns]

In [104]:
dff[1][1]

'22.668'

In [105]:
coef = []
for i in range(1,162):
    coef.append(coef_spectra(dff[2][i], 1, dff[0][i], dff[1][i], dff[1][i]))

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [68]:
coef = np.array(coef)

In [69]:
coef

array([[7.37415161e+00, 7.37415161e+00],
       [7.05764954e+00, 7.05764954e+00],
       [4.36494380e-01, 4.36494380e-01],
       [6.96768967e+00, 6.96768967e+00],
       [7.34824626e+00, 7.34824626e+00],
       [7.37415161e+00, 7.37415161e+00],
       [7.20448629e+00, 7.20448629e+00],
       [7.05764954e+00, 7.05764954e+00],
       [5.67956315e+00, 5.67956315e+00],
       [4.69177674e+00, 4.69177674e+00],
       [2.66293133e+00, 2.66293133e+00],
       [3.63627617e+00, 3.63627617e+00],
       [4.17002076e+00, 4.17002076e+00],
       [2.83096038e+00, 2.83096038e+00],
       [3.46045393e+00, 3.46045393e+00],
       [5.81060320e-02, 5.81060320e-02],
       [4.36494380e-01, 4.36494380e-01],
       [6.96768967e+00, 6.96768967e+00],
       [7.34824626e+00, 7.34824626e+00],
       [7.37415161e+00, 7.37415161e+00],
       [7.20448629e+00, 7.20448629e+00],
       [7.05764954e+00, 7.05764954e+00],
       [5.67956315e+00, 5.67956315e+00],
       [4.69177674e+00, 4.69177674e+00],
       [2.66293133e+00, 2.66293133e+00],
       [5.87814704e+00, 5.87814704e+00],
       [4.87656829e+00, 4.87656829e+00],
       [3.63627617e+00, 3.63627617e+00],
       [4.17002076e+00, 4.17002076e+00],
       [2.83096038e+00, 2.83096038e+00],
       [3.46045393e+00, 3.46045393e+00],
       [1.38407345e+00, 1.38407345e+00],
       [1.20503825e+00, 1.20503825e+00],
       [1.10999963e+00, 1.10999963e+00],
       [1.57442089e+00, 1.57442089e+00],
       [1.34710513e+00, 1.34710513e+00],
       [1.00791524e+00, 1.00791524e+00],
       [2.08811795e-01, 2.08811795e-01],
       [3.16486678e-03, 3.16486678e-03],
       [2.54924430e-01, 2.54924430e-01],
       [1.57442089e+00, 1.57442089e+00],
       [1.34710513e+00, 1.34710513e+00],
       [1.00791524e+00, 1.00791524e+00],
       [2.08811795e-01, 2.08811795e-01],
       [5.92220823e-01, 5.92220823e-01],
       [8.93074002e-01, 8.93074002e-01],
       [9.93003651e-01, 9.93003651e-01],
       [5.66814786e-01, 5.66814786e-01],
       [3.16486678e-03, 3.16486678e-03],
       [2.54924430e-01, 2.54924430e-01],
       [1.57442089e+00, 1.57442089e+00],
       [1.34710513e+00, 1.34710513e+00],
       [1.00791524e+00, 1.00791524e+00],
       [2.08811795e-01, 2.08811795e-01],
       [5.92220823e-01, 5.92220823e-01],
       [8.93074002e-01, 8.93074002e-01],
       [1.08661568e+00, 1.08661568e+00],
       [1.32035538e+00, 1.32035538e+00],
       [9.93003651e-01, 9.93003651e-01],
       [5.66814786e-01, 5.66814786e-01],
       [2.75053917e-02, 2.75053917e-02],
       [2.20002654e-02, 2.20002654e-02],
       [2.09342313e-02, 2.09342313e-02],
       [1.66706983e-02, 1.66706983e-02],
       [5.74592838e-03, 5.74592838e-03],
       [4.31810008e-03, 4.31810008e-03],
       [4.92873767e-04, 4.92873767e-04],
       [3.93194568e-04, 3.93194568e-04],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00],
       [2.62685773e+00, 2.62685773e+00],
       [1.00083186e+00, 1.00083186e+00],
       [7.66567640e-01, 7.66567640e-01],
       [2.94957785e+00, 2.94957785e+00],
       [3.15663575e-02, 3.15663575e-02],
       [2.07864269e-01, 2.07864269e-01],
       [1.47128834e-01, 1.47128834e-01],
       [3.68554453e-02, 3.68554453e-02],
       [4.05050785e-02, 4.05050785e-02],
       [5.43689518e-02, 5.43689518e-02],
       [7.28242696e-02, 7.28242696e-02],
       [1.97762832e-01, 1.97762832e-01],
       [3.90365402e-01, 3.90365402e-01],
       [1.51631769e-01, 1.51631769e-01],
       [2.12702342e-01, 2.12702342e-01],
       [5.43116099e-02, 5.43116099e-02],
       [1.06116507e-01, 1.06116507e-01],
       [9.00651566e-03, 9.00651566e-03],
       [4.35895454e+00, 4.35895454e+00],
       [2.30558963e-02, 2.30558963e-02],
       [4.08545295e+00, 4.08545295e+00],
       [5.49943593e-02, 5.49943593e-02],
       [1.44658143e-01, 1.44658143e-01],
       [3.19360223e-02, 3.19360223e-02],
       [5.90695033e+00, 5.90695033e+00],
       [1.34338797e+01, 1.34338797e+01],
       [5.50066123e+00, 5.50066123e+00],
       [5.90695033e+00, 5.90695033e+00],
       [1.34338797e+01, 1.34338797e+01],
       [5.50066123e+00, 5.50066123e+00],
       [4.16491022e+00, 4.16491022e+00],
       [8.85336851e+00, 8.85336851e+00],
       [7.89434424e+00, 7.89434424e+00],
       [2.18471227e+00, 2.18471227e+00],
       [2.49176174e+00, 2.49176174e+00],
       [1.75137920e+00, 1.75137920e+00],
       [1.31942986e-01, 1.31942986e-01],
       [9.82489581e-06, 9.82489581e-06],
       [1.46590250e-07, 1.46590250e-07],
       [5.81613615e-03, 5.81613615e-03],
       [1.24911367e-02, 1.24911367e-02],
       [1.57019960e-02, 1.57019960e-02],
       [1.80145279e-02, 1.80145279e-02],
       [8.69368845e-03, 8.69368845e-03],
       [3.33877986e-02, 3.33877986e-02],
       [5.81173998e-02, 5.81173998e-02],
       [6.38095085e-02, 6.38095085e-02],
       [6.96060181e-02, 6.96060181e-02],
       [6.22419543e-02, 6.22419543e-02],
       [4.80107194e-02, 4.80107194e-02],
       [5.31897605e-02, 5.31897605e-02],
       [7.08065002e-02, 7.08065002e-02],
       [6.34491257e-02, 6.34491257e-02],
       [6.34491257e-02, 6.34491257e-02],
       [1.47996582e-02, 1.47996582e-02],
       [1.68873284e-02, 1.68873284e-02],
       [3.76488686e-02, 3.76488686e-02],
       [6.40732298e-03, 6.40732298e-03],
       [8.34538664e-02, 8.34538664e-02],
       [8.15728860e-02, 8.15728860e-02],
       [7.61329811e-02, 7.61329811e-02],
       [7.56567599e-02, 7.56567599e-02],
       [3.69512198e-01, 3.69512198e-01],
       [6.12165339e-02, 6.12165339e-02],
       [1.58396468e-01, 1.58396468e-01],
       [2.75950001e-01, 2.75950001e-01],
       [2.74152884e-01, 2.74152884e-01],
       [1.63216651e-01, 1.63216651e-01],
       [1.03608665e-02, 1.03608665e-02],
       [1.02815117e-02, 1.02815117e-02],
       [1.02815117e-02, 1.02815117e-02],
       [1.10413875e-02, 1.10413875e-02],
       [1.20884090e+01, 1.20884090e+01],
       [7.89238779e-03, 7.89238779e-03],
       [8.65897155e-03, 8.65897155e-03],
       [8.65897155e-03, 8.65897155e-03],
       [9.39316987e-03, 9.39316987e-03],
       [5.09246086e-03, 5.09246086e-03],
       [2.61216526e-03, 2.61216526e-03],
       [3.94490810e-03, 3.94490810e-03],
       [4.31921898e-03, 4.31921898e-03],
       [4.56987616e-01, 4.56987616e-01],
       [4.60854525e-01, 4.60854525e-01],
       [4.40970014e-01, 4.40970014e-01],
       [8.55792903e-01, 8.55792903e-01],
       [8.87193140e-01, 8.87193140e-01],
       [4.55278304e-01, 4.55278304e-01]])

In [70]:
coef2 = coef[:,0]

In [71]:
np.savetxt('coef.txt', coef2)

In [72]:
coefnp = pd.DataFrame(coef2)

In [73]:
coefnp

            0
0    7.374152
1    7.057650
2    0.436494
3    6.967690
4    7.348246
..        ...
191  0.460855
192  0.440970
193  0.855793
194  0.887193
195  0.455278

[196 rows x 1 columns]

In [74]:
dff10 = dff.join(coefnp, lsuffix='2', rsuffix='3')

In [75]:
dff10.to_csv('df_final.csv', index=False)